.garden-header {
    width: 100%;
    /* height: auto; */
    height: 110px;
    background: black;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .garden-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  color: rgb(93, 255, 93)
}

li {
    display: inline; 
    margin-right: 40px;
    /* margin-left: 10px; */
}

 